@import "./src/scss/_variables";
:host {
    .buttonLog {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;
        background-color: $grey;
        border: none;
        border-radius: 15px;
        box-shadow: 0 2px $black;
    }
    
    .buttonLog:hover {background-color: $grey-dark}
    
    .buttonLog:active {
        background-color: $grey-dark;
        box-shadow: 0 2px $black;
        transform: translateY(2px);
    }
}