
@import "./src/scss/_variables";

:host {
    .btn-user{
        background: transparent;
        border: none;
        color: #ffffff8f;
    }

    .toolbar {
        background-color: $blue-dark;
        color: white;
    }

    .user-info {
        width: 100%;
        text-align: right;
    }
}
