<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>{{ (category | async)?.userName }}</mat-card-title>
		<mat-card-subtitle>{{ (category | async)?.title }}</mat-card-subtitle>
		<div class="optionsButton">
			<mat-icon class="glyphicon glyphicon-option-horizontal" [matMenuTriggerFor]="menu"></mat-icon>
		</div>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<span>Editar</span>
			</button>
			<button mat-menu-item>
				<span>Eliminar</span>
			</button>
		</mat-menu>
	</mat-card-header>
	<mat-card-content>
		<p>
			{{ (category | async)?.description }}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<label class="comments-label" (click)="goToCategory()">{{ (category | async)?.commentsCount }} {{((category | async)?.commentsCount == 1) ? 'Comentario' : 'Comentarios' }}</label>
	</mat-card-actions>
	<ng-content></ng-content>
</mat-card>